<app-loader *ngIf="loading; else showList"></app-loader>

<ng-template #showList>
    <div id="container" *ngIf="!isRenderEach; else showEach">
      <app-search-form (searchEvent)="querySearch=$event" (changeRender)="renderState($event)" (passSubmit)="triggerSubmit=$event"></app-search-form>
      <app-image-list [searchValueString]="querySearch" [triggerSubmit]="triggerSubmit" (imageID)="imageShowed=$event" (renderItem)="isRenderEach=$event"
        *ngIf="render; else showClip"></app-image-list>
      <ng-template #showClip>
        <app-clip-list [searchValueString]="querySearch" [triggerSubmit]="triggerSubmit" (renderItem)="isRenderEach=$event" (Clip)="clipShowed=$event"></app-clip-list>
      </ng-template>
    </div>
    <ng-template #showEach>
      <app-image-item [thisImage]="imageShowed" (changeState)="renderMain($event)" *ngIf="imageShowed; else showClip"></app-image-item>
      <ng-template #showClip>
        <app-clip-item [thisClip]="clipShowed" (changeState)="renderMain($event)" ></app-clip-item>
      </ng-template>
    </ng-template>
</ng-template>

